// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

form {
  background-color: rgba(235, 236, 236, 0.568);
  margin: 2% auto;
  width: 90%;
}

input {
  display: flex;
  border: 1px solid rgba(146, 146, 146, 0.705);
  width: 50%;
  min-width: 150px;
  margin: 2px auto;
}

label {
  display: flex;
  width: 50%;
  background-color: rgba(240, 240, 240, 0.918);
  margin: 0 auto;
  color: rgba(31, 31, 31, 0.582);
}

a {
  display: flex;
  width: 30%;
  margin: 0 auto;
  text-decoration: none;
  color: rgba(31, 31, 31, 0.582);
  font-size: 13px;
}

.flash-message {
  color: rgb(0, 56, 0);
}
